.react-calendar {
  font-family: 'Roboto', sans-serif;
}

.react-calendar__tile {
  transition: all 0.2s ease-in-out;
  padding: 12px 0;
}

.react-calendar__tile:hover {
  background-color: #f0f0f0;
  border-radius: 8px;
}

.highlight {
  background-color: #a5d6a7;
  color: #000;
  border-radius: 8px;
}

.completed-day {
  background-color: #c8e6c9dd;
  border-radius: 8px;
  color: black;
}

.expected-day {
  background-color: #ffe0b236;
  border-radius: 8px;
}

.next-day {
  background-color: #ffff0026;
  border-radius: 8px;
  color: black;
}

.over-day {
  background-color: #dcf6ffdd;
  border-radius: 8px;
  color: black;
}

.gray-day {
  background-color: #f0f0f042;
  color: #aaa;
  border-radius: 8px;
}
